<div class="center jumbotron">
  <h1>Welcome to Practice App</h1>
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea eligendi magni mollitia, nihil provident rem
    ut velit? Beatae doloribus est explicabo id nemo nihil obcaecati odio placeat quidem reprehenderit?</h2>
  <%= link_to 'Sign up now', signup_path, class: 'btn btn-lg btn-primary' unless logged_in?%>
</div>
<%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://www.rubyonrails.org/' %>

