<footer class="footer">
  <small>
    Copyright &copy; <%= Date.today.year %> Jem Pimentel. All Rights Reserved.
    <%= link_to 'Terms of Use', '#' %> |
    <%= link_to 'Privacy Policy', "#" %>
  </small>
  <nav>
    <ul class="li"><%= link_to 'About', about_path %></ul>
    <ul class="li"><%= link_to 'Contact', contact_path %></ul>
    <ul class="li"><%= link_to 'Site Map', '#' %></ul>
  </nav>
</footer>